 p {
        Font-family:"comic sans ms";
        font-size:12;
        Color:#FF0000;
        text-indent:2.0cm;
      }
 h1 {
        font-family:"comic sans ms";
        font-size:300%;
        color:#FF0000;
        text-align:center;
      }
      h2 {
        font-family:"comic sans ms";
        font-size:200%;
        color:#FF0000;
        text-align:center;
      }
      h3 {
        font-family:"comic sans ms";
        font-size:150%;
        color:#FF0000;
        text-align:center;
      }
body {
        background-color: #191970;
      }
div {
        padding:5px;
        background-color:#ffffff;
        color:#FF0000;
        margin:30px;
      }
      img {
        height:150px;
        width:200px;
      }
      tr, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
